html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 80px; /* Ensure content doesn't overlap with the fixed navbar */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav img {
  height: 50px;
  margin-right: 20px;
}

nav ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover effects for specific list items */
nav ul li:nth-child(1) a:hover {
  color: red;
}

nav ul li:nth-child(2) a:hover {
  color: blue;
}

nav ul li:nth-child(3) a:hover {
  color: yellow;
}

.section {
  padding: 50px 20px;
}

#home, #about, #contacts {
  padding: 60px 20px;
}


/* For the carousel */
.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-btn:first-of-type {
  left: 0;
}

.carousel-btn:last-of-type {
  right: 0;
}

/* Slider CSS */
.slider-container {
  position: relative;
  width: 600px;
  height: 400px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.slider {
  position: absolute;
  bottom: -40px;
  width: 100%;
}
